 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

 *{
    margin:0;
    padding:0;
    font-family: 'Press Start 2P', cursive;
 }

 .title{
    font-size: 5vh;
    font-weight: 600;
    color: blue;
    letter-spacing: 1px;
    margin: 30px 0px;
 }

 body{
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /*font-size: 10px;*/
}
.todo-list{
    width: 450px;
    padding: 20px;
    box-shadow:0 10px 40px rgba(0,0,0,0.1);
    border-radius:5px;
    background-color: whitesmoke;
}
.list-head{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:8px;
}
.entered-list{
    padding: 8px;
    border-radius: 5px;
    border:1px solid black;
    background-color: silver;
    font-size: 16px;
}
.add-list{
  /* border: none;*/
    cursor: pointer;
    border-radius: 3px;
    background-color: silver;
    outline: none;
    font-size: 17px;

    color: black;
    /*opacity: .6;
    pointer-events : none;*/

}
/*.add-list.active{
    opacity: 1;
    pointer-events: all;
}*/
.tasks{
    width: 100%;
    margin-top: 30px;
    
}
.items{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.item p{
    font-size: 16px;
    font-size: 500;
    color: black;
    letter-spacing: 1px;

}
.item.completed p{
    text-decoration: line-through;
    color: black;

}
.item-btn{
    display: flex;
    align-items: center;
    gap: 10px;

}
.item-btn i{
    color: blue;
    font-size: 18px;
    cursor: pointer;
}